.resultList {
    margin-top: 20px;
  }
  
  .resultItem {
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adicionando transição */
  }
  
  .resultItem:hover {
    background-color: #E1F5FE; 
    transform: translateY(-2px); 
  }
  